body {
    background-color: #f0f0f0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px 20px;
  }
  

  header h1 {
    margin-left: 40%;
    font-size: 40px;
    text-align: center;
    justify-content: center;
  }
  

  header .user-nav {
    font-size: 14px;
    margin-left: auto;
    text-decoration:dashed;
 }
 
  nav {
    background-color: #e0e0e0;
    padding: 10px 0;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color:black;
    font-weight: bold;
    font-size: 20px; 
  }

.principal-image{
    display: block;
    margin: 0 auto;
    max-width: 80%;
}

/*PRODUCTS.PUG*/
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
}

.product-card {
    flex: 0 1 calc(25% - 20px); 
    text-align: center;
    margin: 20px; 
    padding: 10px; 
    background-color: #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.product-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px; 
}

.product-card h2 {
    margin: 10px 0; 
}

.product-card p {
    margin-bottom: 5px; 
}

.product-card button {
    margin-top: 10px; 
}

.link-return {
    position: fixed;
    bottom: 10px;
    right: 10px;
}