nav 
    ul 
        li 
            a(href='/products') Todos los productos 
        li
            a(href='/dashboard/products') Mis productos
        li
            a(href='/products/category/Camisetas') Camisetas
        li
            a(href='/products/category/Accesorios') Accesorios
        li
            a(href='/products/category/Pantalones') Pantalones
        li
            a(href='/products/category/Zapatos') Zapatos
        