extends layouts   
block content 
    nav
        ul
            li 
                a(href='/') Home
            li
                a(href='/products') Productos
            li
                a(href='/dashboard') Dashboard 
            li
                a(href='/dashboard/new') Dashboard 