extends layouts   
block content 
    .products 
        each product in products
            .product-card 
                img(src= product.imagen, alt='Zapatillas')
                h2= product.nombre
                p= product.descripcion
                p= `${product.precio}`
                a(href = `/products/${product._id}`) Detalles del producto
