extends layouts

block content
  h1 Inicio de Sesi칩n
  form(action='/auth/signin', method='POST')
    label(for='email') Correo Electr칩nico:
    input(type='email', id='email', name='email', required)
    br
    label(for='password') Contrase침a:
    input(type='password', id='password', name='password', required)
    br
    button(type='submit') Iniciar Sesi칩n