nav 
    ul 
        li 
            a(href='/auth/signup') Registrarse
        li
            a(href='/auth/signin') Iniciar sesión
        li
            a(href='/auth/signout') Cerrar sesión
        li
